In [8]:
import pandas as pd

This is the final data which we get from stata transformation.

In [9]:
pd.read_stata("/Users/arun/Downloads/data_dailyissue17Mar2023_clean.dta")

,facility,datetime_auto_day,shift_type,issue,date_auto,any_issue,shutdown,full_partial,num_hours
0,Azad Nagar,2023-01-19 13:58:48.576,1,,2023-01-19,0.0,,,
1,Azad Nagar,2023-01-19 19:46:09.024,2,,2023-01-19,0.0,,,
2,Azad Nagar,2023-01-20 13:01:37.152,1,,2023-01-20,0.0,,,
3,Azad Nagar,2023-01-20 19:21:43.680,2,,2023-01-20,0.0,,,
4,Azad Nagar,2023-01-21 12:28:27.520,1,,2023-01-21,0.0,,,
...,...,...,...,...,...,...,...,...,...
688,Vurahi,2023-02-26 20:17:06.560,1,,2023-02-26,0.0,,,
689,Vurahi,2023-03-01 09:42:25.024,1,,2023-03-01,0.0,,,
690,Vurahi,2023-03-01 12:45:55.072,1,,2023-03-01,0.0,,,
691,Vurahi,2023-03-15 10:57:44.960,1,,2023-03-15,0.0,,,
692,Vurahi,2023-03-17 09:44:52.480,1,,2023-03-17,0.0,,,

This is the data which is being pulled for only which has issues. You'll have to do this in different table.

In [11]:
pd.read_stata("/Users/arun/Downloads/dailyissue_nonoutage_17Mar2023_dashboard.dta")

,facility,issue,date_auto,shutdown,full_partial,num_hours
0,Azad Nagar,Plumbing - toilet tap,2023-01-28,,,
1,Azad Nagar,Technology - internet,2023-02-16,no,,
2,Basgoda,Plumbing - pipe,2023-02-09,,,
3,Basgoda,Water filter,2023-02-10,,,
4,Basgoda,Electrical - wiring,2023-02-14,no,,
5,Basgoda,Electrical - boring,2023-02-17,no,,
6,Basgoda North,Plumbing - toilet tap,2023-02-11,no,,
7,Dundibagh,Technology - tablet,2023-01-25,,,
8,Dundibagh,Supplies - harpic etc,2023-01-31,,,
9,Dundibagh,Electrical - bulb,2023-01-31,,,
10,Dundibagh,Plumbing - toilet tap,2023-02-09,,,
11,Dundibagh,Infrastructure - gate,2023-02-27,no,,
12,Gomia,Electrical - wiring,2023-02-02,,,
13,Gomia,Technology - internet,2023-02-02,,,
14,Peterbaar,Plumbing - toilet tap,2023-01-23,,,
15,Peterbaar,Plumbing - basin tap,2023-01-23,,,
16,Peterbaar,Urinal pipe,2023-01-23,,,
17,Peterbaar,Supplies - soap,2023-01-27,,,
18,Peterbaar,Supplies - soap,2023-01-29,,,
19,Peterbaar,Supplies - soap,2023-01-31,,,
20,Peterbaar,Supplies - soap,2023-02-02,,,
21,Peterbaar,Supplies - soap,2023-02-04,,,
22,Peterbaar,Supplies - soap,2023-02-18,no,,
23,Peterbaar,Electrical - bulb,2023-03-02,no,,
24,Peterbaar,Supplies - soap,2023-03-02,no,,
25,Peterbaar,Supplies - harpic etc,2023-03-02,no,,
26,Peterbaar,Supplies - soap,2023-03-14,no,,
27,Peterbaar,Technology - internet,2023-03-16,no,,
28,Vurahi,Infrastructure - gate,2023-02-24,no,,


This is the data which is being pulled in the R transformation. Which has some 125 columns. But we don't need it all.

In [10]:
pd.read_stata("/Users/arun/Desktop/SHRI documents/Tracking/raw data/data_dailyissue20Mar2023_raw.dta")

,_id,uuid,starttime,endtime,timestamp,timestampformatted,shift_type,minorissue_type,__version__,instanceID,...,clean_out_basinclean_full,clean_out_basinclean_hrs,clean_out_drainblock,clean_out_drainblock_full,clean_out_drainblock_hrs,technology_out_internet_full,technology_out_internet_hrs,technology_out_tablet,technology_out_tablet_full,technology_out_tablet_hrs
0,213814960,d11902fdb75249a3b0c35c1f10a5103a,2023-01-19T12:56:02.329+05:30,2023-01-19T12:57:25.801+05:30,2023-01-19T12:56:02.333+05:30,2023-01-19 12:56:02.333,1,1 2 3 4 5 6 7,vNwDSqsHAiirZbNbzNcc89,uuid:317329ed-cfbb-4292-8773-c43433b97498,...,,,,,,,,,,
1,213815879,d11902fdb75249a3b0c35c1f10a5103a,2023-01-19T13:00:48.464+05:30,2023-01-19T13:01:11.263+05:30,2023-01-19T13:00:48.466+05:30,2023-01-19 13:00:48.466,1,1 2 3 4 5 6 7,vNwDSqsHAiirZbNbzNcc89,uuid:affed09f-6fe7-4eb0-9610-c73edb743435,...,,,,,,,,,,
2,213816545,d11902fdb75249a3b0c35c1f10a5103a,2023-01-19T12:22:47.010+05:30,2023-01-19T12:23:39.718+05:30,2023-01-19T12:22:47.010+05:30,2023-01-19 12:22:47.010,2,1 2 3 4 6 7 5,vNwDSqsHAiirZbNbzNcc89,uuid:7435cfc8-3a7c-496b-a4c8-2251f6e8d539,...,,,,,,,,,,
3,213817159,d11902fdb75249a3b0c35c1f10a5103a,2023-01-19T13:05:44.642+05:30,2023-01-19T13:08:28.760+05:30,2023-01-19T13:05:44.643+05:30,2023-01-19 13:05:44.643,1,1 2 3 4 5 6 7,vNwDSqsHAiirZbNbzNcc89,uuid:7c9de057-2bc4-4849-bb6f-2415fe6a6294,...,,,,,,,,,,
4,213825749,d11902fdb75249a3b0c35c1f10a5103a,2023-01-19T13:59:28.002+05:30,2023-01-19T13:59:50.755+05:30,2023-01-19T13:59:28.002+05:30,2023-01-19 13:59:28.002,1,1 2 3 4 5 6 7,vNwDSqsHAiirZbNbzNcc89,uuid:657ba11b-c692-47bd-b376-889a2704009d,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
707,226456789,d11902fdb75249a3b0c35c1f10a5103a,2023-03-20T19:13:30.141+05:30,2023-03-20T19:13:37.578+05:30,2023-03-20T19:13:30.142+05:30,2023-03-20 19:13:30.142,2,,v5GvGNZb27L3JH8xNqirkG,uuid:b2b3351c-0771-415e-8a18-d695c13a914f,...,,,,,,,,,,
708,226458965,d11902fdb75249a3b0c35c1f10a5103a,2023-03-20T19:21:21.448+05:30,2023-03-20T19:21:24.937+05:30,2023-03-20T19:21:21.448+05:30,2023-03-20 19:21:21.448,2,,vJVtFtNpWWvuQ97x53mhBf,uuid:3cd051e5-9d6c-4849-bbcc-445ee5ccb006,...,,,,,,,,,,
709,226471583,d11902fdb75249a3b0c35c1f10a5103a,2023-03-20T20:10:00.791+05:30,2023-03-20T20:10:07.454+05:30,2023-03-20T20:10:00.793+05:30,2023-03-20 20:10:00.793,2,,v5GvGNZb27L3JH8xNqirkG,uuid:e2eb3bf4-ffbc-4fe8-94c0-5ae8f923d355,...,,,,,,,,,,
710,226483155,d11902fdb75249a3b0c35c1f10a5103a,2023-03-20T20:56:10.380+05:30,2023-03-20T20:56:17.727+05:30,2023-03-20T20:56:10.384+05:30,2023-03-20 20:56:10.384,2,,v5GvGNZb27L3JH8xNqirkG,uuid:d86f44d1-7f23-42a4-bec5-c36660fddd18,...,,,,,,,,,,
711,226496398,d11902fdb75249a3b0c35c1f10a5103a,2023-03-20T21:48:29.478+05:30,2023-03-20T21:48:37.439+05:30,2023-03-20T21:48:29.478+05:30,2023-03-20 21:48:29.478,2,,v5GvGNZb27L3JH8xNqirkG,uuid:cac9599a-6477-428f-a3fb-69b1bd4ff036,...,,,,,,,,,,

Index(['_id', 'uuid', 'starttime', 'endtime', 'timestamp',
       'timestampformatted', 'shift_type', 'minorissue_type', '__version__',
       'instanceID',
       ...
       'clean_out_basinclean_full', 'clean_out_basinclean_hrs',
       'clean_out_drainblock', 'clean_out_drainblock_full',
       'clean_out_drainblock_hrs', 'technology_out_internet_full',
       'technology_out_internet_hrs', 'technology_out_tablet',
       'technology_out_tablet_full', 'technology_out_tablet_hrs'],
      dtype='object', length=125)

In [ ]:
pd.read_stata("")