In [1]:
import pandas as pd

In [11]:
a = pd.read_stata("/Users/arun/Downloads/dailyissue_03May2023_dashboard.dta")

,facility,issue,date_auto,shutdown,full_partial,num_hours
0,Azad Nagar,Plumbing - toilet tap,2023-01-28,,,
1,Azad Nagar,Technology - internet,2023-02-16,no,,
2,Azad Nagar,Supplies - harpic etc,2023-03-19,no,,
3,Azad Nagar,Electrical - boring,2023-03-22,no,,
4,Azad Nagar,Electrical - bulb,2023-04-05,no,,
...,...,...,...,...,...,...
65,Peterbaar,Electrical - switch,2023-04-04,no,,
66,Peterbaar,Supplies - soap,2023-04-11,no,,
67,Peterbaar,Electrical - boring,2023-04-23,no,,
68,Vurahi,Infrastructure - gate,2023-02-24,no,,
69,Vurahi,Plumbing - basin tap,2023-03-28,no,,

In [12]:
pd.read_stata("/Users/arun/Downloads/data_dailyissue03May2023_clean.dta")

,facility,datetime_auto_day,shift_type,issue,date_auto,any_issue,shutdown,full_partial,num_hours
0,Azad Nagar,2023-01-19 13:58:48.576,1,,2023-01-19,0.0,,,
1,Azad Nagar,2023-01-19 19:46:09.024,2,,2023-01-19,0.0,,,
2,Azad Nagar,2023-01-20 13:01:37.152,1,,2023-01-20,0.0,,,
3,Azad Nagar,2023-01-20 19:21:43.680,2,,2023-01-20,0.0,,,
4,Azad Nagar,2023-01-21 12:28:27.520,1,,2023-01-21,0.0,,,
...,...,...,...,...,...,...,...,...,...
1309,Vurahi,2023-05-01 21:14:59.968,2,,2023-05-01,0.0,,,
1310,Vurahi,2023-05-02 10:06:08.384,1,,2023-05-02,0.0,,,
1311,Vurahi,2023-05-02 20:57:07.840,2,,2023-05-02,0.0,,,
1312,Vurahi,2023-05-03 09:59:11.616,1,,2023-05-03,0.0,,,
1313,Vurahi,2023-05-03 21:12:01.792,2,,2023-05-03,0.0,,,

In [15]:
a = pd.read_stata("/Users/arun/Downloads/dailyissue_03May2023_dashboard.dta")

a.groupby(["facility"]).count()

               issue  date_auto  shutdown  full_partial  num_hours
facility
Azad Nagar         7          7         7             7          7
Basgoda            8          8         8             8          8
Basgoda North      2          2         2             2          2
Dundibagh         27         27        27            27         27
Gomia              3          3         3             3          3
Peterbaar         21         21        21            21         21
Vurahi             2          2         2             2          2

In [7]:
a.loc[a['facility'] == "Azad Nagar"]

,facility,datetime_auto_day,shift_type,issue,date_auto,any_issue,shutdown,full_partial,num_hours
0,Azad Nagar,2023-01-19 13:58:48.576,1,,2023-01-19,0.0,,,
1,Azad Nagar,2023-01-19 19:46:09.024,2,,2023-01-19,0.0,,,
2,Azad Nagar,2023-01-20 13:01:37.152,1,,2023-01-20,0.0,,,
3,Azad Nagar,2023-01-20 19:21:43.680,2,,2023-01-20,0.0,,,
4,Azad Nagar,2023-01-21 12:28:27.520,1,,2023-01-21,0.0,,,
...,...,...,...,...,...,...,...,...,...
169,Azad Nagar,2023-04-16 20:06:36.800,2,,2023-04-16,0.0,,,
170,Azad Nagar,2023-04-17 13:19:53.856,1,,2023-04-17,0.0,,,
171,Azad Nagar,2023-04-17 20:01:51.104,2,,2023-04-17,0.0,,,
172,Azad Nagar,2023-04-18 13:02:01.728,1,,2023-04-18,0.0,,,
173,Azad Nagar,2023-04-18 20:25:29.344,2,,2023-04-18,0.0,,,

In [8]:
a.loc[a['facility'] == "Vurahi"]

,facility,datetime_auto_day,shift_type,issue,date_auto,any_issue,shutdown,full_partial,num_hours
1046,Vurahi,2023-02-24 06:29:57.376,1,Infrastructure - gate,2023-02-24,1.0,no,,
1047,Vurahi,2023-02-25 11:28:50.688,1,,2023-02-25,0.0,,,
1048,Vurahi,2023-02-26 20:17:06.560,1,,2023-02-26,0.0,,,
1049,Vurahi,2023-03-01 09:42:25.024,1,,2023-03-01,0.0,,,
1050,Vurahi,2023-03-01 12:45:55.072,1,,2023-03-01,0.0,,,
...,...,...,...,...,...,...,...,...,...
1104,Vurahi,2023-04-16 09:52:45.568,1,,2023-04-16,0.0,,,
1105,Vurahi,2023-04-16 21:33:59.680,2,,2023-04-16,0.0,,,
1106,Vurahi,2023-04-17 09:54:33.088,1,,2023-04-17,0.0,,,
1107,Vurahi,2023-04-18 09:54:09.536,1,,2023-04-18,0.0,,,
1108,Vurahi,2023-04-18 21:06:59.712,2,,2023-04-18,0.0,,,

In [13]:
a.head(60)

,facility,issue,date_auto,shutdown,full_partial,num_hours
0,Azad Nagar,Plumbing - toilet tap,2023-01-28,,,
1,Azad Nagar,Technology - internet,2023-02-16,no,,
2,Azad Nagar,Supplies - harpic etc,2023-03-19,no,,
3,Azad Nagar,Electrical - boring,2023-03-22,no,,
4,Azad Nagar,Electrical - bulb,2023-04-05,no,,
5,Azad Nagar,Plumbing - toilet tap,2023-04-11,no,,
6,Azad Nagar,Plumbing - pipe,2023-04-24,no,,
7,Basgoda,Plumbing - pipe,2023-02-09,,,
8,Basgoda,Water filter,2023-02-10,,,
9,Basgoda,Electrical - wiring,2023-02-14,no,,
10,Basgoda,Electrical - boring,2023-02-17,no,,
11,Basgoda,Plumbing - basin tap,2023-03-19,no,,
12,Basgoda,Plumbing - basin tap,2023-03-22,no,,
13,Basgoda,Electrical - bulb,2023-04-05,no,,
14,Basgoda,Plumbing - socket,2023-04-19,no,,
15,Basgoda North,Plumbing - toilet tap,2023-02-11,no,,
16,Basgoda North,Plumbing - toilet tap,2023-03-25,no,,
17,Dundibagh,Technology - tablet,2023-01-25,,,
18,Dundibagh,Supplies - harpic etc,2023-01-31,,,
19,Dundibagh,Electrical - bulb,2023-01-31,,,
20,Dundibagh,Plumbing - toilet tap,2023-02-09,,,
21,Dundibagh,Infrastructure - gate,2023-02-27,no,,
22,Dundibagh,Plumbing - toilet tap,2023-03-24,no,,
23,Dundibagh,Infrastructure - floor,2023-04-19,yes,part day,8
24,Dundibagh,Infrastructure - floor,2023-04-20,yes,part day,8
25,Dundibagh,Gents gents side mein ek toilet ka pen badalne...,2023-04-21,no,,
26,Dundibagh,Gents side mein ek toilet ka pen badalne ka ka...,2023-04-21,no,,
27,Dundibagh,Gents side mein ek toilet cartoon badalne ka k...,2023-04-22,no,,
28,Dundibagh,Gents side mein ek toilet ka pen badalne ka ka...,2023-04-22,no,,
29,Dundibagh,Jents side me ek toilet ka pan badlne ka kaam ...,2023-04-23,no,,
30,Dundibagh,Gents side mein ek toilet ka pen badalne ka ka...,2023-04-23,no,,
31,Dundibagh,Gents side mein ek toilet ka pen badalne ka ka...,2023-04-24,no,,
32,Dundibagh,Gents side mein ek toilet ka Prem badalne Ka k...,2023-04-24,no,,
33,Dundibagh,Gents side mein ek toilet ka fan badalne ka ka...,2023-04-25,no,,
34,Dundibagh,Jain side mein ek toilet ka pen badalne ka kam...,2023-04-25,no,,
35,Dundibagh,Gents side mein ek toilet ka pen badalne ka ka...,2023-04-26,no,,
36,Dundibagh,Jeans side mein ek toilet ka pen badalne ka ka...,2023-04-26,no,,
37,Dundibagh,Gents side mein ek toilet ka pen badalne ka ka...,2023-04-26,no,,
38,Dundibagh,Gents side mein ek toilet ka pen badalne ka ka...,2023-04-27,no,,
39,Dundibagh,Gents side mein ek toilet ka pen badalne ka ka...,2023-04-28,no,,
40,Dundibagh,Jain side mein ek toilet ka pen badalne ka kam...,2023-04-28,no,,
41,Dundibagh,Gents gents side mein ek toilet ka pen badalne...,2023-04-29,no,,
42,Dundibagh,Jain side mein ek toilet ka pen badalne ke kam...,2023-04-29,no,,
43,Dundibagh,Gents side mein ek toilet ka pen badalne ka ka...,2023-04-30,no,,
44,Gomia,Electrical - wiring,2023-02-02,,,
45,Gomia,Technology - internet,2023-02-02,,,
46,Gomia,Electrical - wiring,2023-03-22,no,,
47,Peterbaar,Plumbing - toilet tap,2023-01-23,,,
48,Peterbaar,Plumbing - basin tap,2023-01-23,,,
49,Peterbaar,Urinal pipe,2023-01-23,,,
50,Peterbaar,Supplies - soap,2023-01-27,,,
51,Peterbaar,Supplies - soap,2023-01-29,,,
52,Peterbaar,Supplies - soap,2023-01-31,,,
53,Peterbaar,Supplies - soap,2023-02-02,,,
54,Peterbaar,Supplies - soap,2023-02-04,,,
55,Peterbaar,Supplies - soap,2023-02-18,no,,
56,Peterbaar,Electrical - bulb,2023-03-02,no,,
57,Peterbaar,Supplies - soap,2023-03-02,no,,
58,Peterbaar,Supplies - harpic etc,2023-03-02,no,,
59,Peterbaar,Supplies - soap,2023-03-14,no,,

In [19]:
a = pd.read_stata("/Users/arun/Downloads/data_dailyissue03May2023_clean.dta")

b = a.groupby(["facility"])

In [20]:
b