In [3]:
import pandas as pd

In [12]:
a = pd.read_stata("/Users/arun/Desktop/SHRI documents/Tracking/raw data/data_dailystatus20Mar2023_raw.dta")
print(a)

            _id                              uuid  \
0     116992229  2aca9c1903344ef084861d4f9392544a
1     117154306  2aca9c1903344ef084861d4f9392544a
2     117269811  2aca9c1903344ef084861d4f9392544a
3     117400721  2aca9c1903344ef084861d4f9392544a
4     117577829  2aca9c1903344ef084861d4f9392544a
...         ...                               ...
1462  215394115  2aca9c1903344ef084861d4f9392544a
1463  215629314  2aca9c1903344ef084861d4f9392544a
1464  215817097  2aca9c1903344ef084861d4f9392544a
1465  215959895  2aca9c1903344ef084861d4f9392544a
1466  216163882  2aca9c1903344ef084861d4f9392544a

                          starttime                        endtime   facility  \
0     2021-10-01T16:10:49.953+05:30  2021-10-01T16:11:10.789+05:30  Dundibagh
1     2021-10-02T16:08:14.920+05:30  2021-10-02T16:08:19.178+05:30  Dundibagh
2     2021-10-03T15:53:50.808+05:30  2021-10-03T15:54:02.270+05:30  Dundibagh
3     2021-10-04T16:12:06.023+05:30  2021-10-04T16:12:16.682+05:30  Dundibagh
4     2021-10-05T16:04:13.625+05:30  2021-10-05T16:04:18.023+05:30  Dundibagh
...                             ...                            ...        ...
1462  2023-01-26T20:55:17.691+05:30  2023-01-26T20:55:21.145+05:30  Dundibagh
1463  2023-01-27T20:56:51.489+05:30  2023-01-27T20:56:54.899+05:30  Dundibagh
1464  2023-01-28T20:56:49.108+05:30  2023-01-28T20:56:52.129+05:30  Dundibagh
1465  2023-01-29T20:55:34.514+05:30  2023-01-29T20:55:37.450+05:30  Dundibagh
1466  2023-01-30T20:53:05.998+05:30  2023-01-30T20:53:12.379+05:30  Dundibagh

     issue issue_type             __version__  \
0        1          2  veVP7B8oSKCktvipLdTn6V
1        0             veVP7B8oSKCktvipLdTn6V
2        0             veVP7B8oSKCktvipLdTn6V
3        0             veVP7B8oSKCktvipLdTn6V
4        0             veVP7B8oSKCktvipLdTn6V
...    ...        ...                     ...
1462                   vDfY9yscPa4DW5abeKTKoS
1463                   vDfY9yscPa4DW5abeKTKoS
1464                   vDfY9yscPa4DW5abeKTKoS
1465                   vDfY9yscPa4DW5abeKTKoS
1466                   vDfY9yscPa4DW5abeKTKoS

                                     instanceID              instanceName  \
0     uuid:b87e2b0d-c311-4205-9080-ff2328841fa9  facilitystatus_Dundibagh
1     uuid:d17ba10c-017b-445c-aab8-dfbced87b592  facilitystatus_Dundibagh
2     uuid:ab8506b9-9d31-432d-b8cf-2a7305a8a070  facilitystatus_Dundibagh
3     uuid:90b53787-709b-4ea7-a7f7-2c52863da99c  facilitystatus_Dundibagh
4     uuid:03be766e-b871-444a-80a4-08d6cc01fe7a  facilitystatus_Dundibagh
...                                         ...                       ...
1462  uuid:526e3787-078f-431f-aeb0-b02adbc689dd  facilitystatus_Dundibagh
1463  uuid:2bd95abe-58f2-424b-b7ea-d146dd063e52  facilitystatus_Dundibagh
1464  uuid:da535c39-cc8c-49c8-af91-a5dd2132b695  facilitystatus_Dundibagh
1465  uuid:6e547289-909b-47d0-8dc5-5ff3d9143acb  facilitystatus_Dundibagh
1466  uuid:32bec607-8041-4207-a6be-1da92f810383  facilitystatus_Dundibagh

      ...     _submission_time _submitted_by v2issue v2issue_type v3issue  \
0     ...  2021-10-01T10:41:35     shriindia
1     ...  2021-10-02T10:44:12     shriindia
2     ...  2021-10-03T10:25:51     shriindia
3     ...  2021-10-04T10:45:49     shriindia
4     ...  2021-10-05T10:36:09     shriindia
...   ...                  ...           ...     ...          ...     ...
1462  ...  2023-01-26T15:30:01     shriindia
1463  ...  2023-01-27T15:28:51     shriindia
1464  ...  2023-01-28T15:30:17     shriindia
1465  ...  2023-01-29T15:29:19     shriindia
1466  ...  2023-01-30T15:45:22     shriindia

     v3issue_type v3issue_other v4issue v4issue_type v4issue_other
0
1
2
3
4
...           ...           ...     ...          ...           ...
1462                                  0
1463                                  0
1464                                  0
1465                                  0
1466                                  0

[1467 rows x 23 columns]

In [7]:
a.columns

Index(['_id', 'uuid', 'starttime', 'endtime', 'facility', 'issue',
       'issue_type', '__version__', 'instanceID', 'instanceName',
       '_xform_id_string', '_uuid', '_status', '_submission_time',
       '_submitted_by', 'v2issue', 'v2issue_type', 'v3issue', 'v3issue_type',
       'v3issue_other', 'v4issue', 'v4issue_type', 'v4issue_other'],
      dtype='object')

In [9]:
pd.read_stata("/Users/arun/Downloads/data_passerbyuse_17Mar2023_all_clean.dta")

,facility,who,child_girl_number,passerby_man_number,passerby_woman_number,child_boy_number,date_auto,time_auto
0,Dundibagh,1,105.0,NaN,NaN,NaN,2022-02-01,1960-01-01 09:58:00
1,Dundibagh,2,NaN,NaN,NaN,85.0,2022-02-01,1960-01-01 09:59:00
2,Dundibagh,3,NaN,NaN,16.0,NaN,2022-02-01,1960-01-01 09:59:00
3,Dundibagh,4,NaN,12.0,NaN,NaN,2022-02-01,1960-01-01 10:00:00
4,Dundibagh,1,30.0,NaN,NaN,NaN,2022-02-01,1960-01-01 12:54:00
...,...,...,...,...,...,...,...,...
16368,Vurahi,1,57.0,NaN,NaN,NaN,2023-03-17,1960-01-01 21:10:00
16369,Vurahi,2,NaN,NaN,NaN,56.0,2023-03-17,1960-01-01 21:11:00
16370,Vurahi,3,NaN,NaN,58.0,NaN,2023-03-17,1960-01-01 21:11:00
16371,Vurahi,4,NaN,53.0,NaN,NaN,2023-03-17,1960-01-01 21:11:00
16372,Dundibagh,1 2 3 4,22.0,17.0,21.0,19.0,2023-03-17,1960-01-01 20:52:00