In [1]:
import pandas as pd

In [2]:
pd.read_stata("/Users/arun/Downloads/enrollment_17Mar2023_full.dta")

,yob,userid,gender,dataid,formtimestampformatted,_submission_time,_submitted_by,facility,rootUuid,deprecatedID,date_enrollment,age_years,age_cat,g,test,yob1,dupid,num_dup
0,1979,1,Male,DY1,2021-08-20 06:54:24.020,2021-08-20T05:09:55,shriindia,Dundibagh,,,2021-08-20,44.0,41-50,G,NaN,1979.0,0,1.0
1,1976,10,Male,RS10,2021-08-20 07:05:04.518,2021-08-20T05:10:01,shriindia,Dundibagh,,,2021-08-20,47.0,41-50,G,NaN,1976.0,0,1.0
2,1984,100,Male,US100,2021-08-20 09:47:59.053,2021-08-20T05:10:56,shriindia,Dundibagh,,,2021-08-20,39.0,31-40,G,NaN,1984.0,0,1.0
3,1970,1001,Female,HD1001,2021-09-6 06:45:34.918,2021-09-06T06:12:13,shriindia,Dundibagh,,,2021-09-06,53.0,51-60,G,NaN,1970.0,0,1.0
4,1975,1002,Female,JD1002,2021-09-6 06:50:05.289,2021-09-06T06:12:14,shriindia,Dundibagh,,,2021-09-06,48.0,41-50,G,NaN,1975.0,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2747,2002,V95,Female,SKV95,2023-02-22 21:54:59.495,2023-02-23T06:20:56,vurahi,Vurahi,3754fa43-acf6-4c0a-8e3c-6546f859b6d8,uuid:3754fa43-acf6-4c0a-8e3c-6546f859b6d8,2023-02-22,21.0,21-30,G,NaN,2002.0,0,1.0
2748,1975,V96,Female,ADV96,2023-02-23 11:31:05.263,2023-02-23T06:20:57,vurahi,Vurahi,,,2023-02-23,48.0,41-50,G,NaN,1975.0,0,1.0
2749,1968,V97,Female,MDV97,2023-02-23 11:32:40.027,2023-02-23T06:20:57,vurahi,Vurahi,,,2023-02-23,55.0,51-60,G,NaN,1968.0,0,1.0
2750,1978,V98,Female,KDV98,2023-02-23 11:33:53.859,2023-02-23T06:20:58,vurahi,Vurahi,,,2023-02-23,45.0,41-50,G,NaN,1978.0,0,1.0
2751,1955,V99,Female,JDV99,2023-02-23 11:34:58.723,2023-02-23T06:20:58,vurahi,Vurahi,,,2023-02-23,68.0,61-71,G,NaN,1955.0,0,1.0

In [3]:
pd.read_stata("/Users/arun/Downloads/enrollment_17Mar2023_gender_nodup.dta")

       yob userid  gender   facility date_enrollment
0     1979      1    Male  Dundibagh      2021-08-20
1     1976     10    Male  Dundibagh      2021-08-20
2     1984    100    Male  Dundibagh      2021-08-20
3     1970   1001  Female  Dundibagh      2021-09-06
4     1975   1002  Female  Dundibagh      2021-09-06
...    ...    ...     ...        ...             ...
2729  2002    V95  Female     Vurahi      2023-02-22
2730  1975    V96  Female     Vurahi      2023-02-23
2731  1968    V97  Female     Vurahi      2023-02-23
2732  1978    V98  Female     Vurahi      2023-02-23
2733  1955    V99  Female     Vurahi      2023-02-23

[2734 rows x 5 columns]

In [4]:


pd.read_stata("/Users/arun/Desktop/SHRI documents/Tracking/raw data/enrollment_20Mar2023_raw.dta")

,_id,uuid,firstname,lastname,yob,mothername,name_c,identification_c,id_num,gender,...,__version__,instanceID,_xform_id_string,_uuid,_status,_submission_time,_submitted_by,facility,rootUuid,deprecatedID
0,110294175,0469ee0948ad4665993c257298e35c40,Deepak,Kumar,1990,Ramdulari devi,Deepak Kumar,Deepak Kumar 1990 Ramdulari devi,176,male,...,vfwiwB6Zn2uzSgwErfMdGp,uuid:5eb16d48-dfc2-482b-b170-84ec88a69d0b,aQGfXBzQPLat26HozJcaB5,5eb16d48-dfc2-482b-b170-84ec88a69d0b,submitted_via_web,2021-08-20T05:49:19,shriindia,,,
1,111156274,0469ee0948ad4665993c257298e35c40,Sunil,Kumar,1995,Runa,Sunil Kumar,Sunil Kumar 1995 Runa,308,male,...,vfwiwB6Zn2uzSgwErfMdGp,uuid:2ed570c2-9dcc-49dc-b2bc-a94b7f702521,aQGfXBzQPLat26HozJcaB5,2ed570c2-9dcc-49dc-b2bc-a94b7f702521,submitted_via_web,2021-08-26T04:40:02,shriindia,,,
2,111156276,0469ee0948ad4665993c257298e35c40,Pardeep,Kumar,1998,Prabhavathi,Pardeep Kumar,Pardeep Kumar 1998 Prabhavathi,309,male,...,vfwiwB6Zn2uzSgwErfMdGp,uuid:4e89b7ce-6b0e-4bf4-8d9e-b8e484ed79bd,aQGfXBzQPLat26HozJcaB5,4e89b7ce-6b0e-4bf4-8d9e-b8e484ed79bd,submitted_via_web,2021-08-26T04:40:02,shriindia,,,
3,110290953,0469ee0948ad4665993c257298e35c40,Dilip,Yadav,1979,Kari,Dilip Yadav,Dilip Yadav 1979 Kari,1,male,...,vfwiwB6Zn2uzSgwErfMdGp,uuid:0063e603-3d73-4202-81d1-198d3b514c03,aQGfXBzQPLat26HozJcaB5,0063e603-3d73-4202-81d1-198d3b514c03,submitted_via_web,2021-08-20T05:09:55,shriindia,,,
4,110290954,0469ee0948ad4665993c257298e35c40,Nawal,Kishor,1961,Fuliya,Nawal Kishor,Nawal Kishor 1961 Fuliya,2,male,...,vfwiwB6Zn2uzSgwErfMdGp,uuid:1c4bb8d2-b057-4c6e-bfe2-119c992046d5,aQGfXBzQPLat26HozJcaB5,1c4bb8d2-b057-4c6e-bfe2-119c992046d5,submitted_via_web,2021-08-20T05:09:56,shriindia,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2841,223220030,0469ee0948ad4665993c257298e35c40,Muuna,Khan,1990,Sajaha,Muuna Khan,Muuna Khan 1990 Sajaha,P705,male,...,vD7XEVXamg5qZSrk72i2YZ,uuid:909f3a91-a432-48cd-af30-33c109b9ccfd,aQGfXBzQPLat26HozJcaB5,909f3a91-a432-48cd-af30-33c109b9ccfd,submitted_via_web,2023-03-06T08:55:56,peterbar,Peterbaar,,
2842,223837307,0469ee0948ad4665993c257298e35c40,Jaleshwar,Sah,1975,Dewanti,Jaleshwar Sah,Jaleshwar Sah 1975 Dewanti,N674,male,...,vD7XEVXamg5qZSrk72i2YZ,uuid:3e12a24e-499c-47fb-8a39-15ecf0e29309,aQGfXBzQPLat26HozJcaB5,3e12a24e-499c-47fb-8a39-15ecf0e29309,submitted_via_web,2023-03-09T04:11:09,basgodanorth,North Basgoda,,
2843,224571998,0469ee0948ad4665993c257298e35c40,Gagan,Godsora,2003,Duni,Gagan Godsora,Gagan Godsora 2003 Duni,N675,male,...,vD7XEVXamg5qZSrk72i2YZ,uuid:48c47b96-e760-46b2-ab59-165c637ab463,aQGfXBzQPLat26HozJcaB5,48c47b96-e760-46b2-ab59-165c637ab463,submitted_via_web,2023-03-13T01:33:49,basgodanorth,North Basgoda,,
2844,225976780,0469ee0948ad4665993c257298e35c40,Abhishek,Kumar,2002,Gomati devi,Abhishek Kumar,Abhishek Kumar 2002 Gomati devi,P706,male,...,vD7XEVXamg5qZSrk72i2YZ,uuid:ad6eb67b-c05c-40f4-9f1f-4b3e10414339,aQGfXBzQPLat26HozJcaB5,ad6eb67b-c05c-40f4-9f1f-4b3e10414339,submitted_via_web,2023-03-18T05:10:09,peterbar,Peterbaar,,
2845,226153631,0469ee0948ad4665993c257298e35c40,Jagmohan,Alda,1995,Punam,Jagmohan Alda,Jagmohan Alda 1995 Punam,N676,male,...,vD7XEVXamg5qZSrk72i2YZ,uuid:5deba3b0-53d8-4c6b-868d-705d012a3561,aQGfXBzQPLat26HozJcaB5,5deba3b0-53d8-4c6b-868d-705d012a3561,submitted_via_web,2023-03-19T01:44:02,basgodanorth,North Basgoda,,